<!--String Interpolation Example-->
<h2>String Interpolation Example</h2>
<h3>{{ title }}</h3>
<h3>{{4+5}}</h3>
<h3>Sum is: {{addNum()}}</h3>
<!--Property Binding Example-->
<h2>Property Binding Example</h2>
<img [alt]="animal.name" [src]="animal.image" />
<img bind-alt="animal.name" bind-src="animal.image" />

<br>
<!-- Event Binding Example-->
<h2>Event Binding Example</h2>
<button (click)="onShow()">Show</button>

<!-- Two Way Data binding Example-->
<h2>Two Way Data binding Example</h2>
<input type="text" [(ngModel)]="title" >